code a {
    text-decoration: underline !important;
    cursor: pointer;
}

pre {
    overflow-x: scroll;
    /*white-space:pre-wrap !important;*/
}

.tooltip-code {
    display: none;
}

.tooltip-code.visible {
    display: block;
}

.tooltip-enabled {
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.75);
}

.tooltip-enabled:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;

}

@media only screen and (max-width: 576px) {
    .annotation {
        position: absolute;

    }

    .tooltip-code {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto !important;
        z-index: 1;
    }
}